@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject CustomAuthStateProvider _authStateProvider
@inject NavigationManager _navigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @* Redirect to Login Page if not authorized *@
                    <p>You are not authorized to access this page.</p>
                    <p>
                        You need to log in to view this page.
                        <a href="login">Click here to login.</a>
                    </p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


