@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject CustomAuthStateProvider _authStateProvider
@inject NavigationManager _navigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(CustomLayout)">
                <NotAuthorized>
                   @code {
                        protected override void OnInitialized()
                        {
                            // Redirect to the login page when the user is not authorized
                            _navigationManager.NavigateTo("/login");
                        }
                    } 
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

