@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authStateProvider
@using RealWorldApp.Client.Components
@using RealWorldApp.Shared.Models

<PageTitle>Index</PageTitle>
<div class="container ">
    <Products />
    <SurveyPrompt Title="How is Blazor working for you?" />
    <hr />
    <CreateProduct />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await _authStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated == false)
        {
            _navigationManager.NavigateTo("/login"); // Redirect to login if not authenticated
        }
    }
}