@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

@using RealWorldApp.Client.Components
@using RealWorldApp.Shared.Models

<PageTitle>Index</PageTitle>
<div class="container">
    <Products />
    <SurveyPrompt Title="How is Blazor working for you?" />
    <hr />
    <CreateProduct />
</div>


@code{

    
}