@page "/login"
@layout CustomLayout
@using Microsoft.AspNetCore.Components.Authorization
@using RealWorldApp.Shared.Models
@using Blazored.SessionStorage
@inject HttpClient Http
@inject Blazored.SessionStorage.ISessionStorageService _sessionStorage
@inject AuthenticationStateProvider _authStateProvider
@inject NavigationManager _navigationManager

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username:</label>
        <InputText @bind-Value="loginModel.Username" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="loginModel.Password" type="password" />
    </div>

    <button type="submit">Login</button>
</EditForm>

@if (faildLogin != null)
{
    <span class="alert alert-danger">@faildLogin</span>
}

// Link to the registration page
<div>
    <p>Don't have an account? <a href="/register">Register here</a>.</p>
</div>

@code {
    private LoginModel loginModel = new LoginModel();
    private string? faildLogin { get; set; }

    private async Task HandleLogin()
    {
        faildLogin = null;

        var response = await Http.PostAsJsonAsync("api/login", loginModel);

        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadAsStringAsync();

            if (!string.IsNullOrEmpty(token) && token.Split('.').Length == 3)
            {
                await _sessionStorage.SetItemAsync("authToken", token);
                ((CustomAuthStateProvider)_authStateProvider).NotifyUserAuthentication(token);
                _navigationManager.NavigateTo("/");
            }
            else
            {
                faildLogin = "Login failed. No valid token received.";
            }
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            // User not found, redirect to register page
            _navigationManager.NavigateTo("/register");
        }
        else
        {
            faildLogin = "Login failed. Please check your credentials.";
        }
    }
}
