@using RealWorldApp.Shared.Models
@using RealWorldApp.Client.Components
@inject HttpClient Http

<div class="modal fade @(isVisible ? "show d-block" : "d-none")" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <a class="close " @onclick="HideModal" data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
                    <span class="text-dark fs-4" aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <EditForm Model="EditingProduct" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="input-group mb-3">
                        <span class="col-5 me-2">Product Name:</span>
                        <span class="col-7"><InputText @bind-Value="EditingProduct.Name" class="form-control" /></span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-5 me-2">Product Price:</span>
                        <span class="col-7"><InputNumber @bind-Value="EditingProduct.Price" class="form-control" /></span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-5 me-2">Product Description:</span>
                        <span class="col-7"><InputText @bind-Value="EditingProduct.Description" class="form-control" /></span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-5 me-2">Stock:</span>
                        <span class="col-7"><InputNumber @bind-Value="EditingProduct.Stock" class="form-control" /></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="HideModal">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    public ProductDto EditingProduct { get; set; } = new();
    private bool isVisible = false;
    [Parameter] public EventCallback OnProductUpdated { get; set; }

    public void ShowModal()
    {
        isVisible = true;
        StateHasChanged();
    }

    public void HideModal()
    {
        isVisible = false;
        StateHasChanged();
    }

    public void Show(ProductDto product)
    {
        EditingProduct = new ProductDto
            {
                Id = product.Id,
                Name = product.Name,
                Price = product.Price,
                Description = product.Description,
                Stock = product.Stock,
            };
        isVisible = true;
        StateHasChanged();
    }

    private async Task HandleValidSubmit()
    {
        var response = await Http.PutAsJsonAsync($"api/product/{EditingProduct.Id}", EditingProduct);
        if (response.IsSuccessStatusCode)
        {
            await OnProductUpdated.InvokeAsync();
            HideModal();
        }
        else
        {
            // Handle error
        }
    }
}